body {
    background: url('./images/backrooms.png') no-repeat center center fixed; /* Fundo de textura estilo Backrooms */
    background-size: cover;
    font-family: "Roboto Mono", monospace; /* Fonte simples para o tom misterioso */
    color: #e0dfdc; /* Cor de texto sutil, quase desbotada */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 240, 0.8); /* Fundo semi-transparente que remete a iluminação fluorescente */
    border: 2px solid #c2bfb8; /* Borda sutil para delimitação */
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Sombra para criar profundidade */
    width: 600px;
    padding: 30px;
    text-align: center;
    backdrop-filter: blur(10px); /* Efeito de desfoque para dar um ar surreal */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #88876e; /* Cor neutra para o título */
}

p {
    font-size: 1.2rem;
    color: #5c5b54; /* Texto com contraste leve */
}

button {
    background-color: #99957d; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar o botão */
}

button:hover {
    background-color: #716f5b; /* Sutil escurecimento no hover */
    transform: scale(1.05); /* Leve crescimento */
}
#sobre {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

form.erro {
    border: 2px solid red;
    padding: 10px;
    background-color: #ffdddd;
}
