body {
    background-color: #111; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilo do monitor */
  #monitor {
    width: 800px;
    height: 600px;
    background: linear-gradient(to bottom, #333, #222);
    border: 15px solid #000;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    position: relative;
  }
  
  /* Tela dentro do monitor */
  #tela {
    width: 90%;
    height: 80%;
    background-color: #00274D; /* Azul escuro pique windows do crack */
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    color: white;
    font-family: monospace;
    overflow: auto;
    border: 5px inset #000;
  }
  
  /* Estilo do texto e dos botões */
  h1, p {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /*Estilo das imagens de alguns niveis específicos*/
  #macho{
    height: 200px;
    margin-left: 35%;
    border: 3px solid #000;
  }